@using SoftwareAssuranceMaturityModel.Application.Common.Managers
@inject QuestionnaireManager QManager

<div>
    <textarea rows="2" cols="80"
        @bind="QManager.EditableQ.Statement"
        @bind:event="oninput" />

    @for (int i = 0; i < QManager.EditableQ.Responds.Count; i++)
    {
        <textarea rows="2" cols="80"
        @bind="QManager.EditableQ.Responds[i]"
        @bind:event="oninput" />
    }
</div>

<button class="btn btn-sm btn-dark" @onclick="@Prev">Prev</button>
<button class="btn btn-sm btn-dark" @onclick="@Next">Next</button>

<button class="btn btn-danger" @onclick="QManager.Save">Save</button>

@code{
    private void Next()
    {
        QManager.Next();
        StateHasChanged();
    }

    private void Prev()
    {
        QManager.Prev();
        StateHasChanged();
    }
}