
<EditForm Model="@_newSession">
    <h2>Add Session</h2>
    <InputText
        id="session-name"
        class="form-control"
        placeholder="Session Name"
        @bind-Value="_newSession.Name">
    </InputText>
    <label for="date-start"> Start Date: </label>
    <InputDate
        id="date-start"
        class="form-control"
        @bind-Value="_newSession.StartDate">
    </InputDate>
    <label for="date-start"> End Date: </label>
    <InputDate
        id="date-start"
        class="form-control"
        @bind-Value="_newSession.EndDate">
    </InputDate>
    <br>
    <button
        class="btn btn-sm btn-primary"
        @onclick="@SubmitAsync"
        type="submit">
        Submit
    </button>
</EditForm>