@page "/"

<PageTitle>Index</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Hello, World!</h1>
    <p class="lead">
        Misi kami adalah menyediakan cara yang efektif dan terukur bagi Anda untuk menganalisis dan meningkatkan siklus pengembangan aman Anda.
    </p>
    <hr class="my-4">
    <p>
        <i>The Software Assurance Maturity Model</i> mendukung siklus hidup perangkat lunak yang lengkap dan merupakan teknologi dan agnostik proses.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Mulai Survey</a>
</div>

@code {

}