@page "/"
@using SoftwareAssuranceMaturityModel.Application.Common.Managers

<PageTitle>Index</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Hello, World!</h1>
    <p class="lead">
        Misi kami adalah menyediakan cara yang efektif dan terukur bagi Anda untuk menganalisis dan meningkatkan siklus pengembangan aman Anda.
    </p>
    <hr class="my-4">
    <p>
        <i>The Software Assurance Maturity Model</i> mendukung siklus hidup perangkat lunak yang lengkap dan merupakan teknologi dan agnostik proses.
    </p>
    <AuthorizeView>
        <Authorized>
            @if(IsSessionExist())
            {
                <a class="btn btn-primary btn-lg" href="/survey" role="button">Mulai Survey</a>
            }
            else
            {
                <a class="btn btn-primary btn-lg" href="/notfound" role="button">Mulai Survey</a>
            }
        </Authorized>
        <NotAuthorized>
            <a class="btn btn-primary btn-lg" href="/sign-in" role="button">Mulai Survey</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    [Inject] protected SessionManager SessionManager { get; set; } = default!;

    private bool IsSessionExist()
    {
        var result = SessionManager.SessionCheck().GetAwaiter().GetResult();
        return result.Success;
    }

}