@page "/developer"
@namespace SoftwareAssuranceMaturityModel.Presentation.RCL.Pages
@using Microsoft.AspNetCore.Components.Forms
@using Blazored.FluentValidation

<div class="__construction">
    This developer page is defined in the <strong>RCL</strong> library.
</div>

<SoftwareAssuranceMaturityModel.Presentation.RCL.Components.Auth />