@page "/developer"
@namespace SoftwareAssuranceMaturityModel.Presentation.RCL.Pages
@using Microsoft.AspNetCore.Components.Forms
@using Blazored.FluentValidation
@using SoftwareAssuranceMaturityModel.Presentation.RCL.Components
@using SoftwareAssuranceMaturityModel.Application.Common.Managers

@inject AccountManager AccountManager

<div class="__construction">
    This developer page is defined in the <strong>RCL</strong> library.
</div>

<SessionForm />

@code{

}