@inherits LayoutComponentBase
@namespace SoftwareAssuranceMaturityModel.Presentation.Server.Pages.Layout
@using SoftwareAssuranceMaturityModel.Application.Common.Sercurity

<PageTitle>Server</PageTitle>

<div class="page">
    <AuthorizeView Roles="Developer, Administrator">
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4">
            <span class="brand">The Software Assurance Maturity Model</span>
            <span class="auth">
                <AuthorizeView>
                    <Authorized>
                        <a href="/" @onclick="@SignOutAsync">Sign Out</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/sign-in">Sign In</a>
                    </NotAuthorized>
                </AuthorizeView>
            </span>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    [Inject] private Authentication _auth { get; init; } = default!;
    private async Task SignOutAsync()
    {
        await _auth.SignOutAsync();
    }

}